azure-iot-device
#azure-storage-blob==12.8.0 # This version is needed for blob storage on edge devices
#adlfs==2021.8.1 # This version is needed for blob storage on edge devices
azure-storage-blob
adlfs
bokeh
numpy
dask==2024.9.0
distributed==2024.9.0
cloudpickle==3.0.0
dask-expr==1.1.14
python-dotenv==1.0.1
typing_extensions
haversine
geopandas
prefect==3.0.3
git+https://github.com/OceanStreamIO/echopype-dev.git@oceanstream-iotedge#egg=echopype
prefect[dask]
matplotlib
openpyxl
google-api-python-client
psycopg2-binary
