azure-iot-device
#adlfs==2021.8.1 # This version is needed for blob storage on edge devices
azure-storage-blob
adlfs==2021.8.1
bokeh==3.6.1
numpy==1.26.4
dask==2024.9.0
distributed==2024.9.0
numcodecs==0.14.1
pydantic==2.10.1
pydantic_core==2.27.1
cloudpickle==3.0.0
xarray==2024.11.0
dask-expr==1.1.14
python-dotenv==1.0.1
typing_extensions
haversine
geopandas
prefect-dask==0.3.1
prefect==3.0.3
git+https://github.com/OceanStreamIO/echopype-dev.git@oceanstream-iotedge#egg=echopype
prefect[dask]
matplotlib
openpyxl
google-api-python-client
requests
psycopg2-binary
netCDF4
