azure-storage-blob==12.8.0
adlfs==2021.8.1
bokeh
dask
distributed
python-dotenv==1.0.1
sqlite-utils
typing_extensions
numpy
geopandas
git+https://github.com/OceanStreamIO/echopype-dev.git@oceanstream-iotedge#egg=echopype
prefect[dask]
matplotlib
openpyxl
